<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springunity.mapper.SettCheckWrongPoolMapper">

    <resultMap id="BaseResultMap" type="com.example.springunity.entity.SettCheckWrongPool">
        <result property="id" column="id" jdbcType="BIGINT"/>
        <result property="requestNo" column="request_no" jdbcType="VARCHAR"/>
        <result property="merchentOrderNo" column="merchent_order_no" jdbcType="VARCHAR"/>
        <result property="merchantNo" column="merchant_no" jdbcType="VARCHAR"/>
        <result property="amount" column="amount" jdbcType="NUMERIC"/>
        <result property="fundDirection" column="fund_direction" jdbcType="VARCHAR"/>
        <result property="idCard" column="id_card" jdbcType="VARCHAR"/>
        <result property="bankTrxNo" column="bank_trx_no" jdbcType="VARCHAR"/>
        <result property="trxType" column="trx_type" jdbcType="VARCHAR"/>
        <result property="payWayCode" column="pay_way_code" jdbcType="VARCHAR"/>
        <result property="paySuccessTime" column="pay_success_time" jdbcType="TIMESTAMP"/>
        <result property="checkStatus" column="check_status" jdbcType="VARCHAR"/>
        <result property="refundSuccessTime" column="refund_success_time" jdbcType="TIMESTAMP"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="editTime" column="edit_time" jdbcType="TIMESTAMP"/>
        <result property="version" column="version" jdbcType="BIGINT"/>
        <result property="checkDate" column="check_date" jdbcType="DATE"/>
        <result property="orderNo" column="order_no" jdbcType="VARCHAR"/>
        <result property="orderFrom" column="order_from" jdbcType="VARCHAR"/>
    </resultMap>

    <insert id="batchInsert" parameterType="list">
        insert into tcpay_sett_check_wrong_pool(
        id,request_no,merchent_order_no,
        merchant_no,amount,fund_direction,
        id_card,bank_trx_no,trx_type,
        pay_way_code,pay_success_time,check_status,
        refund_success_time,remark,status,
        create_time,edit_time,version,
        check_date,order_no,order_from
        ) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.id},#{item.requestNo},#{item.merchentOrderNo},#{item.merchantNo},#{item.amount},
            #{item.fundDirection},#{item.idCard},#{item.bankTrxNo},#{item.trxType},#{item.payWayCode},
            cast(#{item.paySuccessTime} as timestamp),
            #{item.checkStatus},
            cast(#{item.refundSuccessTime} as timestamp),
            #{item.remark},#{item.status},
            cast(#{item.createTime} as timestamp),
            cast(#{item.editTime} as timestamp),
            #{item.version},
            cast(#{item.checkDate} as timestamp),
            #{item.orderNo},#{item.orderFrom})
        </foreach>
    </insert>

    <update id="updateByPrimaryKey" parameterType="SettCheckWrongPool">
        update tcpay_sett_check_wrong_pool
        set check_status = #{checkStatus},
            edit_time    = #{editTime}
        where id = #{id}
    </update>

    <update id="batchUpdate" parameterType="list">
        update tcpay_sett_check_wrong_pool set
        check_status = case id
        <foreach collection="list" index="index" item="item">
            when #{item.id} then #{item.checkStatus}
        </foreach>
        end,
        edit_time = case id
        <foreach collection="list" index="index" item="item">
            when #{item.id} then cast(#{item.editTime} as timestamp)
        </foreach>
        end
        where id in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item.id}
        </foreach>
    </update>
</mapper>
