<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springunity.mapper.UserInfoMapper">

    <resultMap id="BaseResultMap" type="com.example.springunity.service.wrapper.UserInfoWrapper">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="gmtCreate" column="gmt_create" jdbcType="TIMESTAMP"/>
        <result property="gmtModified" column="gmt_modified" jdbcType="TIMESTAMP"/>
        <result property="deleted" column="deleted" jdbcType="TINYINT"/>
        <result property="userId" column="user_id" jdbcType="BIGINT"/>
        <result property="nickName" column="nick_name" jdbcType="VARCHAR"/>
        <result property="sex" column="sex" jdbcType="TINYINT"/>
        <result property="bornYear" column="born_year" jdbcType="OTHER"/>
        <result property="age" column="age" jdbcType="TINYINT"/>
        <result property="birthday" column="birthday" jdbcType="DATE"/>
        <result property="income" column="income" jdbcType="DECIMAL"/>
    </resultMap>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select *
        from user_info
        where id = #{id,jdbcType=BIGINT}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from user_info
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.example.springunity.mapper.entity.UserInfo"
            useGeneratedKeys="true">
        insert into user_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="gmtCreate != null">gmt_create,</if>
            <if test="gmtModified != null">gmt_modified,</if>
            <if test="deleted != null">deleted,</if>
            <if test="userId != null">user_id,</if>
            <if test="nickName != null">nick_name,</if>
            <if test="sex != null">sex,</if>
            <if test="bornYear != null">born_year,</if>
            <if test="age != null">age,</if>
            <if test="birthday != null">birthday,</if>
            <if test="income != null">income,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id,jdbcType=BIGINT},</if>
            <if test="gmtCreate != null">#{gmtCreate,jdbcType=TIMESTAMP},</if>
            <if test="gmtModified != null">#{gmtModified,jdbcType=TIMESTAMP},</if>
            <if test="deleted != null">#{deleted,jdbcType=TINYINT},</if>
            <if test="userId != null">#{userId,jdbcType=BIGINT},</if>
            <if test="nickName != null">#{nickName,jdbcType=VARCHAR},</if>
            <if test="sex != null">#{sex,jdbcType=TINYINT},</if>
            <if test="bornYear != null">#{bornYear,jdbcType=OTHER},</if>
            <if test="age != null">#{age,jdbcType=TINYINT},</if>
            <if test="birthday != null">#{birthday,jdbcType=DATE},</if>
            <if test="income != null">#{income,jdbcType=DECIMAL},</if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.example.springunity.mapper.entity.UserInfo">
        update user_info
        <set>
            <if test="gmtCreate != null">
                gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtModified != null">
                gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
            </if>
            <if test="deleted != null">
                deleted = #{deleted,jdbcType=TINYINT},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=BIGINT},
            </if>
            <if test="nickName != null">
                nick_name = #{nickName,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                sex = #{sex,jdbcType=TINYINT},
            </if>
            <if test="bornYear != null">
                born_year = #{bornYear,jdbcType=OTHER},
            </if>
            <if test="age != null">
                age = #{age,jdbcType=TINYINT},
            </if>
            <if test="birthday != null">
                birthday = #{birthday,jdbcType=DATE},
            </if>
            <if test="income != null">
                income = #{income,jdbcType=DECIMAL},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.example.springunity.mapper.entity.UserInfo">
        update user_info
        set gmt_create   = #{gmtCreate,jdbcType=TIMESTAMP},
            gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
            deleted   = #{deleted,jdbcType=TINYINT},
            user_id      = #{userId,jdbcType=BIGINT},
            nick_name    = #{nickName,jdbcType=VARCHAR},
            sex          = #{sex,jdbcType=TINYINT},
            born_year    = #{bornYear,jdbcType=OTHER},
            age          = #{age,jdbcType=TINYINT},
            birthday     = #{birthday,jdbcType=DATE},
            income       = #{income,jdbcType=DECIMAL}
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="countSelectPage" resultType="int">
        select count(*)
        <include refid="selectPageAll"/>
    </select>

    <select id="selectPage" resultMap="BaseResultMap">
        select *
        <include refid="selectPageAll"/>
        LIMIT #{pageSize} OFFSET #{offset}
    </select>

    <sql id="selectPageAll">
        from user_info
        <where>
            <if test="condition.nickName != null and condition.nickName != ''">nick_name = #{condition.nickName,jdbcType=VARCHAR}</if>
        </where>
    </sql>
</mapper>
